<!DOCTYPE html>
<html>
<head>
<title>HackPrinceton 2017</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="angular_app.js"></script>
  <script src="dirPagination.js"></script>
<link rel="stylesheet" href="sweetalert.css">
<script src="Sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

</head>
<body>
	<div class="container">
	<div align="center" class="embed-responsive embed-responsive-16by9">
		<video autoplay loop class="embed-responsive-item" controls>
		  <source src="https://instatranslatefile.blob.core.windows.net/resources/ThinkDifferent_Video.mp4" type="video/mp4">
		</video>
	</div>
	<div>
</body>