<!DOCTYPE html>
<html>
<head>
<title>HackPrinceton 2017</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="angular_app.js"></script>
<script src="dirPagination.js"></script>
<link rel="stylesheet" href="sweetalert.css">
<script src="Sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<body>
<div ng-app="MyApp" ng-controller="MainController">

	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Insta Translate</a></h1>
		</div>
		<div id="banner"> <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a> </div>
	</div>
	</div>
	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li><a href="#">Homepage</a></li>
				<li><a href="#">Login</a></li>
				<li class="current_page_item"><a href="#">Upload</a></li>
				<li><a href="#">All Videos</a></li>
				<li><a href="#">Translate Video</a></li>
			</ul>
		</div>
		<!-- end #menu --> 
	</div>

	<br>
	<div class="container" style="text-align: center;">
    </div>
    <div class="container">
    <h1 class="well">Upload Video</h1>
	<div class="col-lg-12 well">
	<div class="row">
			<form name="videoForm" enctype="multipart/form-data" ng-submit="submitGuideDetailsForm()" >
				<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Video Name</label>
								<input type="text" placeholder="Enter Video Name Here.." class="form-control" ng-model="video.video_name" required>
							</div>
							<div class="col-sm-6 form-group">
								  <label>Video Language</label>
								  <select ng-model="video.video_lang" class="form-control" ng-options="x for x in languages"></select>
							</div>
						</div>
						<div class="form-group">
							<label>Description</label>
							<input type="text" placeholder="Enter Video Description Here.." class="form-control" ng-model="video.video_desc" required>
						</div>
						<div class="form-group">
							<label>Video</label>
    						<input type='file' class="form-control" name='file' onchange="angular.element(this).scope().uploadFile(this.files)">
						</div>		
						<div style="text-align: center;">
							<button ng-disabled="userForm.$invalid" type="button" class="btn btn-lg btn-info" ng-click="submitGuideDetailsForm()">Upload</button>
						</div>
				</div>
			</form>
	</div>
	</div>
	</div>

</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Developed by Anuraag, Jamshed and Vidya</a>.</p>
</div>
</body>
</html>
