<!DOCTYPE html>
<html>
<head>
<title>HackPrinceton 2017</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="angular_app.js"></script>
<script src="dirPagination.js"></script>
<link rel="stylesheet" href="sweetalert.css">
<script src="Sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<body>
<div ng-app="MyApp" ng-controller="MainController" ng-init="get_all_videos();">

<div ng-show="show">
<div class="container" style="text-align: center;">
    	<h1>All Videos</h1>
  </div>

  <div class="container">
	  <div class="col-lg-12 well" style ='background-color: #ffffff;' id = "innerDiv">
      
		  <div id = "search">
	   <form class="form-inline">
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
	</div>
		  <div ng-controller="MainController" class="md-padding demo checkboxdemoSelectAll" ng-app="MyApp">  
	      <table class="table table-hover" id = "table">
	       <thead>
	         <th ng-click="sort('cid')">Video ID
				<span class="glyphicon sort-icon" ng-show="sortKey=='cid'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
	          <th ng-click="sort('fname')">Video Name
				<span class="glyphicon sort-icon" ng-show="sortKey=='fname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
	          <th ng-click="sort('lname')">Original Language
				<span class="glyphicon sort-icon" ng-show="sortKey=='lname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
		      <th ng-click="sort('lname')"> ThumbNail
		      	<span class="glyphicon sort-icon" ng-show="sortKey=='lname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		      </th>
		      <th>
		      	Select
		      </th>
		      <th>
		      	Convert Speech Language
		      </th>
	      </thead>
	        <tr flex="100" dir-paginate="video in videos | orderBy:sortKey:reverse | filter:search | itemsPerPage:5">
	                <td>{{ video._id }}</td>
	                <td>{{ video.video_name }}</td>
	                <td>{{ video.video_desc }}</td>
	                <td>{{ video.video_url.replace(" ","")}}</td>
	                <td><button type="button" class="btn btn-default btn-sm" ng-click="goToConvert(video);">Select</button></td>
	                <td><button type="button" class="btn btn-default btn-sm" ng-click="toggle();">Convert</button></td>
	        </tr>
	      </table>
	  	<dir-pagination-controls
	       max-size="2"
	       direction-links="true"
	       boundary-links="true" >
    	</dir-pagination-controls>
    </div>
  </div>
</div>
</div>

<div ng-show="!show">
	<div class="container" style="text-align: center;">
    	<h1>HackPrinceton 2017 </h1>
    </div>
    <div class="container" ng-init="checkScope();">
    <h1 class="well">Convert Video Language</h1>
	<div class="col-lg-12 well">
	<div class="row">
			<form  name="convertVideo">
				<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Video Name</label>
								<input type="text" placeholder="Enter Video Name Here.." class="form-control" ng-model="selectedVideo.video_name" required>
							</div>
							<div class="col-sm-6 form-group">
								  <label>Video Language</label>
								  <select ng-model="selectedVideo.language" class="form-control" ng-options="x for x in languages"></select>
							</div>
						</div>
						<div class="form-group">
							<label>EmailId</label>
							<input type="text" placeholder="Enter EmailId Here.." class="form-control" ng-model="selectedVideo.email" required>
						</div>
						<div class="form-group">
							<label>Video Id</label>
							<input type="text" placeholder="Enter VideoID Here.." class="form-control" ng-model="selectedVideo.video_desc" required>
						</div>
						<div style="text-align: center;">
							<button ng-disabled="userForm.$invalid" type="button" class="btn btn-lg btn-info" ng-click="translatevideo(selectedVideo);">Convert</button>
						</div>
				</div>
			</form>
	</div>
	</div>
	</div>
</div>	


</div>	
</body>
</html>
